@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; } }

header {
  background-color: #abc270;
  width: 100%;
  height: 12vh;
  font-size: 3.2rem; }

nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .subcontainer1 {
    display: flex;
    justify-content: normal;
    align-items: normal; }
  nav .subcontainer2 {
    display: flex;
    justify-content: normal;
    align-items: center; }
  nav .subcontainer3 {
    display: flex;
    justify-content: normal;
    align-items: normal;
    gap: 1rem; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 2.4rem;
  text-align: center;
  font-weight: normal;
  margin: 1rem;
  column-gap: 2rem; }
  .grid-container .heading-container {
    grid-column: 1/-1; }
  .grid-container span {
    margin-bottom: 2rem; }
  .grid-container .movies-item {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 20px; }
    .grid-container .movies-item a {
      text-decoration: none;
      color: inherit; }
    .grid-container .movies-item p {
      padding: 4px;
      display: inline-block;
      width: 28rem;
      text-overflow: ellipsis ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .grid-container .movies-item img {
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 36rem; }

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  margin-bottom: 2.4rem; }

.full-movie-content {
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  gap: 2.4rem;
  position: relative; }
  .full-movie-content img {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    margin: 1.6rem;
    width: 36%;
    height: 64rem; }
  .full-movie-content .full-content-des {
    font-size: 4rem; }
    .full-movie-content .full-content-des .book-btn {
      padding: 1rem;
      margin: 3.2rem 0; }
      .full-movie-content .full-content-des .book-btn span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; }
      .full-movie-content .full-content-des .book-btn i {
        color: white; }
    .full-movie-content .full-content-des .full-content-container {
      height: 72%;
      flex-direction: column;
      display: flex;
      justify-content: space-around;
      align-items: normal; }
    .full-movie-content .full-content-des i {
      color: #fda769;
      padding-right: 1.6rem; }
    .full-movie-content .full-content-des p {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .full-movie-content .full-content-des p sub {
        font-size: 2.4rem; }

.btn {
  width: 12rem;
  height: 4rem;
  font-size: 2rem;
  border: none;
  background: none;
  color: #473c33;
  background-color: #fda769;
  border-radius: 10px;
  cursor: pointer; }

.prev-movies-btn {
  width: 14rem;
  height: 5rem;
  font-size: 2.4rem; }

.next-movies-btn {
  width: 14rem;
  height: 5rem;
  font-size: 2.4rem; }

.search-btn {
  width: 10rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 24px;
  position: absolute;
  right: 28%; }

.btn-with-icon {
  display: flex;
  justify-content: center;
  align-items: center; }

#search {
  width: 48rem;
  height: 5rem;
  font-size: 2.4rem;
  padding: 1.6rem;
  border: none;
  border-radius: 24px; }
  #search:focus {
    outline: none; }

.book-btn {
  width: 20rem;
  height: 6rem;
  font-size: 2.4rem; }

.close-movie-btn {
  position: absolute;
  top: 1%;
  left: 99%;
  transform: translate(-100%, 0);
  color: white;
  text-align: center;
  width: 4rem;
  height: 4rem;
  font-size: 3.2rem; }

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.loader {
  color: black;
  font-size: 16px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.2%; }

body {
  color: #473c33;
  background-color: #faecd6; }

.visibility-hidden {
  visibility: hidden; }

.display-hidden {
  display: none; }
