.full-movie-content {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
  gap: 2rem;
  img {
    margin: 2rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 30px;
    width: 40rem;
    height: 65rem;
    mix-blend-mode: darken;
  }
}
.full-content-container {
  margin: 3.2rem 0;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 4rem;
}
.entity-container {
  display: grid;
  grid-template-columns: 6rem 1fr;
  i {
    color: $color-secondary;
  }
  sub {
    font-size: 2.4rem;
  }
}
.container-icon {
  i {
    color: white;
  }
  color: white;
  @include display-flex(center, center);
  gap: 4px;
}
.full-movie-details {
  i {
    color: $color-secondary;
  }
}
.big-entity {
  display: grid;
  grid-template-columns: 4rem 1fr;
  font-size: 3.2rem;
  padding: 0.8rem;
  margin: 3.2rem 0;
}
.blur-effect {
  opacity: 0.4;
  filter: blur(6px);
}
