header {
  font-size: 3.2rem;
}
nav {
  @include wid-hie-fsz(100%, fit-content, inherit);
  background-color: $color-primary;
  padding: 1rem 2rem;
  @include display-flex(space-between, center);
  .subcontainer1 {
    @include display-flex(center, flex-start);
    .logo-title {
      text-align: center;
    }
  }
  .subcontainer2 {
    position: relative;
    @include display-flex(center, center);
  }
  .subcontainer3 {
    @include display-flex(center, center);
    gap: 1rem;
  }
}
