.start-main-content {
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 2.4rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: normal;
  margin: 1rem;
  column-gap: 2rem;
  .heading-container {
    grid-column: 1/-1;
  }
  span {
    margin-bottom: 2rem;
  }
  .movies-item {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    &:hover {
      transform: scale(1.02);
    }
    border-radius: 20px;
    a {
      text-decoration: none;
      color: inherit;
    }
    p {
      padding: 4px;
      display: inline-block;
      width: 28rem;
      text-overflow: ellipsis ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    img {
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 36rem;
    }
  }
}
.btn-container {
  @include display-flex(space-around, normal);
  margin-bottom: 2.4rem;
}
.search-pop-up {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-pop-up-container {
  width: max-content;
  height: fit-content;
  font-size: 2rem;
  position: relative;
  text-align: center;
  padding: 2rem 1rem;
  background-color: white;
}
