.btn {
  @include wid-hie-fsz(12rem, 4rem, 2rem);
  border: none;
  background: none;
  color: $color-font;
  background-color: $color-secondary;
  border-radius: 10px;
  cursor: pointer;
}
.prev-movies-btn {
  @include wid-hie-fsz(14rem, 5rem, 2.4rem);
}
.next-movies-btn {
  @include wid-hie-fsz(14rem, 5rem, 2.4rem);
}
.search-btn {
  @include wid-hie-fsz(max-content, 5rem, 2rem);
  border-radius: 24px;
  padding: 1rem;
  position: absolute;
  right: 0%;
}
.btn-with-icon {
  @include display-flex(center, center);
}
#search {
  @include wid-hie-fsz(48rem, 5rem, 2rem);
  flex-grow: 1;
  padding: 1.6rem;
  border: none;
  border-radius: 24px;
  &:focus {
    outline: none;
  }
}
.book-btn {
  @include wid-hie-fsz(20rem, 6rem, 2.4rem);
}
.close-movie-btn {
  position: absolute;
  top: 1%;
  left: 99%;
  transform: translate(-100%, 0);
  color: white;
  text-align: center;
  @include wid-hie-fsz(4rem, 4rem, 3.2rem);
}
.mov-type-btn {
  @include wid-hie-fsz(4.4rem, 3.2rem, 2rem);
  background: rgb(249, 249, 249);
  cursor: pointer;
  border: 1px solid black;
  margin: 0 1rem;
  &:hover {
    transform: scale(1.1);
  }
}
.close-mov-type {
  color: $color-secondary;
  background: white;
  cursor: pointer;
  border: none;
}
.toggle-btn {
  background: white;
  border: none;
}
.theater-close-btn {
  position: absolute;
  top: 2%;
  left: 100%;
  transform: translate(-100%, 0);
  color: white;
  text-align: center;
  @include wid-hie-fsz(4rem, 4rem, 3.2rem);
}
.search-popup-close {
  width: min-content;
  height: min-content;
  position: absolute;
  padding: 0.4rem;
  top: 0%;
  left: 100%;
  transform: translate(-100%, -0%);
}
.btn-menu {
  @include display-flex(center, center);
  padding: 1.6rem;
  width: max-content;
}
